DB_HOST=<your-server>.mysql.database.azure.com
DB_USER=<your-admin-user>
DB_PASSWORD=<your-password>
DB_NAME=authdb
DB_PORT=3306

FRONTEND_URL=http://localhost:5173
BACKEND_PORT=5175

JWT_SECRET=<run the node crypto command below to generate>
NODE_ENV=development
