
# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Vite cache
.vite/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
